
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'shared/errors', obj: @user %>
      <%= form_with(model: @user, class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
        <div class="form-group row" id="groupe">
          <%= f.label :username, class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.text_field :username, class: "form-control shadow rounded", placeholder: "Выбери себе ник..." %>
          </div>
        </div>

        <div class="form-group row" id="groupe">
          <%= f.label :email, class: "col-2 col-form-label text-light" %>
          <div class="col-10"> 
            <%= f.email_field :email, class: "form-control shadow rounded", placeholder: "Напиши свой емейл..." %>
          </div>
        </div>

        <div class="form-group row" id="groupe">
          <%= f.label :password, class: "col-2 col-form-label text-light" %>
          <div class="col-10"> 
            <%= f.password_field :password, class: "form-control shadow rounded", placeholder: "Придумай пароль..." %>
          </div>
        </div>
        <% if !logged_in? %>

        <div class="form-group row" id="groupe">
        <%= f.label :code, class: "col-2 col-form-label text-light" %>
        <div class="col-10"> 
          <%= f.text_field :code, class: "form-control shadow rounded", placeholder: "Напиши свой код..." %>
        </div>
      </div>
      <% end %>

        <div class="form-group row justify-content-center" id="groupe">
          <%= f.submit(@user.new_record? ? "Регистрация" : "Обновить аккаунт", class: "btn btn-outline-light btn-lg") %>
        </div>
      <% end %>
    </div>
   
  </div>
</div>