<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.username, micropost.user, class: "btn-dark" %></span>
  <span class="content"><%= micropost.content %></span>
  <% if micropost.picture?  %>
  <%= cl_image_tag("#{micropost.picture}", :width => 300, :height => 200, :crop => :fill, :cloud_name => "elcaronossam") %>
 <% end %>
  <span class="timestamp">
    Опубликовано <%= time_ago_in_words(micropost.created_at) %> назад.
    <% if  current_user.admin? %>
    | <%= link_to "delete", micropost, method: :delete,
                                data: { confirm: "Ты уверен?" } %>
<% end %>
    </span>
</li>